/* =Common Styles
-------------------------------------------------------------- */

html, body {
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif;
}

*, *:focus {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

.has-fixed-nav body {
  padding-top: 300px;
}

.center {
  text-align: center;
}

.white {
	color: #fff;
}

.grey {
  color: #999;
}

.up, .up button {
  text-transform: uppercase;
}

p, p:last-child {
  margin-bottom: 20px;
  font-size: 15px;
}

.main-container {
  background-color: #ffffff;
}

/* .main-container {
  background-color: #F2E6D8;
} */

.page-node .main-container, .page-taxonomy .main-container, .page-comment .main-container, 
.page-user .main-container, .page-search .main-container {
  padding-top: 0px;
}

.section {
  min-height: 400px;
  background-color: #fff;
  padding-bottom: 70px;
  padding-top: 70px;
  overflow: hidden;
}

.section hr {
  width: 90px;
  border-top: 3px solid transparent;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  float: none;
}

.title h1 {
  text-transform: uppercase;
  color: #515151;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}


.title h3 {
  text-transform: uppercase;
  color: #515151;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}



.title p {
  font-weight: 300;
  text-align: center;
  color: #888;
  font-size: 16px;
}

.btn-empty {
  border-color: #FFF;
  border-width: 2px;
  color: #FFF;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
  transition: .3s;
}

.btn-empty:hover {
  background-color: #fff;
  color: #333;
}

.parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.parallax-overlay, #testimonials .block-content {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: rgba(0, 0, 0, 0.58);
}

body.front .main-container.container {
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
body.front .main-container.container > div.row {
  margin: 0;
  padding: 0;
}
body.front .main-container.container > div.row > section.col-md-12, body.front .main-container.container > div.row > section.col-sm-12 {
  margin: 0;
  padding: 0;
}

/* =Preloader
-------------------------------------------------------------- */

#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10000;
  height: 100%;
}

#loader {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}

/* =Video Background
-------------------------------------------------------------- */

#video-wrapper {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

#bgndVideo {
  display: none;
}

#block-views-service-block-1 {
	background-color: #F2E6D8;
	min-height: 740px;
}

#block-views-home-article-block{
background-color: #007FA3;
min-height: 400px;
}


.footer-link {
color:#ffffff;
text-decoration:none;
}

.footer-link:active{

text-decoration:none;
}

.footer-link:hover{

text-decoration:none;
}



/* =Home Article View
-------------------------------------------------------------- */
.home-box {
	background-color: #007FA3 !important;
	width: 100%;  /*Stessa larghezza dell'immagine */
    height: 100%; /* Stessa altezza dell'immagine */
}

.home-article {
	display: table;
	width: 100%;
}

.home-article-img {
	display: table-cell;
	float: right;
	overflow:overflow;
	margin: 0;
	padding:0;
 
	
	
}

.home-article-img img {
	width: 100%;  /* Stessa larghezza dell'immagine */
  	margin: 0;
	padding:0;
}

.home-article-text {
   /* background-color: #007FA3; */
   
   display: table-cell;
 
   
}

.home-article-text p{
   color: #fff;
   text-align: center;
   font-size:16px;
   padding-left:5%;
   padding-right:5%;
}

.home-article-text h3{
   color: #fff;
   text-align: center;
   font-weight:100;
   
}

.home-article-text hr{
    height: 1px;
    border-top: 3px solid #fff;
    width: 90px;
    text-align: justify;
} 

#block-views-home-article-block{
	width:100%;
	
}
.view-home-article {
	width:100%;
	padding-right:0px;
	padding-left:0px;
	margin-right:0px;
	margin-left:0px;
}

/* =Banner View
-------------------------------------------------------------- */

.banner-img {
  display: table;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  position: relative;
  width: 100%;  /*Stessa larghezza dell'immagine */
  height: 100%; /* Stessa altezza dell'immagine */

}

.fa-angle-down {
 padding-left:15px;
  color:white;
}


.banner-text-yellow-first span{
	background-color:#F1E30C;
	padding-left:10px;
	padding-right:10px;
	text-align: right;
	font-size: 35px;
	font-family: "Lato",Helvetica,Arial,sans-serif;
	color: #000000;
	font-weight: 200;
	
}


.banner-text-yellow-second  span{
	background-color:#F1E30C;
	padding-left:10px;
	padding-right:10px;
	text-align: right;
	font-size: 40px;
	font-family: "Lato",Helvetica,Arial,sans-serif;
	color: #000000;
	font-weight: 500;
	
}

@media (min-width: 768px) and (max-width: 1024px) {
	.banner-text-yellow-second  span{
		font-size: 35px;
	}	
	
	.banner-text-yellow-first span{
		font-size: 30px;
	}	
	
	.banner-logo {
		margin-top:20px;
	}
	
	
	   
}
	
	



@media  (max-width: 768px) {
	.banner-text-yellow-second  span{
		font-size: 15px;
	}

	.banner-text-yellow-first span{
		
		font-size: 10px;
	}	
	
	.banner-logo {
		display:none;
	}
	
	.banner-text{
		top:50%;
	}
	
	.logo{
	 width:50%;
	}
	
	
	.tematica-overlay {
		background-color: rgba(0, 0, 0, 0.69);
		margin-top: 0px;
		overflow:visible;
		display:visibile;
		position:relative;
	}
	
}



.banner-logo {
	width:40%;
	margin-top:50px;
	float:right;
	
}


.banner-logo img{

}



.banner-img img{
	flex-shrink:0;
    min-width:100%;
    min-height:100%;
    /* height: 500px;
    width: 1150px; */
}

.banner-text {
  position: absolute;
  top: 20%;
  right:10%;
  display: table-cell;
  text-align: right;
  /* background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); */
}

.banner-Button {
	/* background-color:transparent; */
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #edf2ee;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:7px;
	height: 80%;
	text-decoration:none;
}
.banner-Button:hover {
	background-color:#fff;
	color:#333333;
}
.banner-Button:active {
	position:relative;
	top:1px;
}


/* =Home Section
-------------------------------------------------------------- */

#home {
  height: 500px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);  
}

#home.pattern {
  background-image: url("../images/pattern.png");
}

.view-intro-slideshow {
  padding: 120px 0;
  text-align: center;
  color: #fff;
}

.view-intro-slideshow hr {
  width: 200px;
  border-top: 3px solid #fff;
}

#home-slider {
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
}

#home-slider .slides {
  list-style: none;
}

#home-slider .slides > li h1 {
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  vertical-align: middle;
  padding: 20px 0;
}

/* =Header
-------------------------------------------------------------- */
body.admin-menu .navbar-fixed-top {
  top: 21px;
}
.topnav {
  z-index: 9;
  background-color: #fff;
  margin: 0;
  border-radius: 0;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.topnav .navbar-nav > li > a {
  text-transform: uppercase;
  color: #999;
}

.topnav .navbar-nav > .active > a, .topnav .navbar-nav > .active > a:hover, .topnav .navbar-nav > .active > a:focus {
  background-color: #fff;
}

#logo, .navbar-header a.name {
  text-transform: uppercase;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
#logo, img{
	width:40%
    
}

/* =About
-------------------------------------------------------------- */

p.about-text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.promo-line:before, .promo-line:after {
  content: " ";
  display: table;
}

.promo-line:after {
  clear: both;
}

.promo {
  margin-bottom: 40px;
}

.promo:before, .promo:after {
  content: " ";
  display: table;
}

.promo:after {
  clear: both;
}

.promo.right {
  text-align: right;
}

.promo.right .promo-icon-box {
  float: right;
}

.promo h4 {
  text-transform: uppercase;
}

.promo p {
  color: #666;
}

.promo-icon {
  display: block;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  margin-top: 10px;
  transition: .3s;
}

.promo-icon .fa {
  line-height: inherit;
}

/* =CCK Nuova segnalazione
-------------------------------------------------------------- */
.view-cck{
	background-color: #F2E6D8;
}

.cck-newsegn {
	width:100%; 
	height:100%;
	/* border: 1px solid #cccccc; */
	float:left;
}

.cck-newsegn-logo {
	max-width: 350px;
	max-height: 100px;
	float:right;
}

.field-iframe-instance .autoresize{
	height: auto;
}

.cck-newsegn-title {
	float:left;
}

.cck-newsegn-iframe {
	padding-bottom: 15px;
	/*background-image: url("../images/CORRUZIONE.jpg");
	background-color: #cccccc; */
	border: 1px solid #cccccc;
	width: 100%;
	height: 100%;
	float:left;
}

/* =Basic Page
-------------------------------------------------------------- */
.bs-content {
 	width:100%; 
	height:100%;
	background-color: #F2E6D8; 
}

.bs-page-title {
	width: 100%;
	height: 100%;
	padding: 15px;
}

.bs-page-title h3{
	text-align: center;
  	text-transform: uppercase;
  	color: #333333;
	font-weight:300;
}

.bs-page-title hr{
	text-align: justify;
	border-top: 2px solid #007FA3;
	width: 100px;
  	/* color: #007FA3; */
}

.bs-page { 
	height:100%;
	width: 100%;
}

.bs-page-content {
	float:left;
	width: 100%;
	height: 100%;
	background-color: #F2E6D8;
	
}

.bs-page-text p{
	color: #333333;
	font-size: 0.90em;
	padding-left: 10px; 
	padding-right: 10px;
}

.bs-page-img {
	float:right;
	height: 35%;
	width: 35%;
	border: 1px solid #F2E6D8;
}

.bs-page-img img{
	width: 100%;
	height: 100%;
}


/* =Tematiche Page
-------------------------------------------------------------- */

#block-views-tematiche-block{
	background-color: #f3f3f3;
	min-height: 500px;
}

.tematiche-content {
	display: table; 
	width:100%; 
	height:100%;
	min-width:100%;
	min-height: 650px;
	background-color: #F2E6D8;
	
}

.tematiche-page {
	display:table-row; 
	height:100%;
	width: 100%;
	min-height: 650px; 
}


.sportelli-dettagli {
	font-family: "Lato",Helvetica,Arial,sans-serif; 
}



.tematiche-page-sx {
	display:table-cell;
	background-color: #F2E6D8;
	padding: 15px;
}

.tematiche-page-dx {
	display:table-cell; 
	padding-right:0px;
	padding-left:0px;
}

.tematiche-page-title h3{
	text-align: center;
  	text-transform: uppercase;
  	color: #333333;
	font-weight:300;
}

.tematiche-page-title hr{
	text-align: justify;
	border-top: 3px solid #007FA3;
	width: 90px;
  	/* color: #007FA3; */
}

.tematiche-page-body p{
	color: #333333;
	font-size: 0.90em;
}

.tematiche-page-img {
	float:left;
	height: 40%;
	width: 100%;
}

.tematiche-page-img img{
	width: 100%;
	height: 100%;
}

.tematiche-page-url {
	float:left;
	min-height: 100px;
	width: 100%;
	background-color: #fff;
}

.tematiche-page-url-head {
	color:#002633;
	padding: 20px 15px 20px 15px;
	font-size:25px;
	text-align:center;
	background-color:#A3CBED;
}

.tematiche-page-url-button{
	text-align:center;
	background-color:#A3CBED;
	padding: 0px 15px 30px 15px;
	width:100%;
}

.btn.btn-success {
    color: #ffffff;
    background-color: #8fadb5;
    background-image: linear-gradient(to bottom, #0080a3, #0080a3);
    border-color: #0080a3 #0080a3 #0080a3;
    /* margin-top: 30px; */
   
  	position: relative;
  	text-align: center;
}
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #0080a3;
    background-image: linear-gradient(to bottom, #0080a3, #0080a3);
    border-color: #0080a3 #0080a3 #0080a3;
}

.tematiche-page-approf {
	float:left;
	min-height: 200px;
	width: 100%;
	display: inline;
	padding: 15px;
	background-color: #BEDBF2;
}


/* =Tematiche
-------------------------------------------------------------- */

#tematica {
  background-color: #fff;
}

.tematica {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999999;
  overflow: hidden;
  margin-bottom: 15px;
}

.tematica:hover {
  cursor: default;
}

.tematica:hover .tematica-overlay {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.tematica-photo {
  position: relative;
}

.tematica-photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.tematica-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-bottom: 1px solid #000000;
  margin-top: -260px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.tematica-overlay p {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.tematica-inner {
  padding: 15px;
}

.tematica-inner h3 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
  font-weight:100;
}

.tematica-inner p {
  text-align: center;
  color: #999;
  font-size: 18px;
  margin: 0;
}

.tematica-Button {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #edf2ee;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-family:Arial; */
	font-size:0.95em;
	font-weight:500;
	padding:9px 36px;
	text-decoration:none;
}
.tematica-Button:hover {
	background-color: #ffffff;
	color:#000000;
	text-decoration:none;
	
}
.tematica-Button:active {
	position:relative;
	top:1px;
	text-decoration:none;
}

/* =Sportelli
-------------------------------------------------------------- */

.field-item img{
	max-width: 400px;
	max-height: 400px;
	
	height: 100px;
	width: 290px;
}

#sportello {
  background-color: #fff;
   font-family: "Lato",Helvetica,Arial,sans-serif;
}

.sportello {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999999;
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  min-width: 280px;
  max-height: 400px;
  max-width: 450px;
  font-family: "Lato",Helvetica,Arial,sans-serif;
}

.sportello:hover {
  cursor: default;
}

.sportello:hover .sportello-overlay {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.sportello-photo {
  position: relative;
  min-height: 140px;
  border-bottom: thin solid #333333; 
}

.sportello-photo img {
  display: block;
  margin: 0 auto;
  min-height: 100px;
  min-width: 200px;
  max-height: 100px;
  max-width: 250px;
  /* width: 100%;
  height: 100%; */
  border-radius: 4px 4px 0 0;
}

.sportello-photo-title{
	float: left;
}

.sportello-photo-segnalazione{
	float: left;
}

.sportello-photo-statosegn{
	float: left;
}

.sportello-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 9px;
  border-bottom: 1px solid #000000;
  margin-top: -260px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.sportello-overlay p {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}

.sportello-inner {
  padding: 10px;
  min-height: 90px;
  min-width: 230px;
}

.sportello-inner h3 {
  text-align: center;
  margin-top: 0;
  font-size: 1.1em;
  text-transform: uppercase;
}

.sportello-inner p {
  text-align: center;
  color: #999;
  font-size: 1.1em;
  margin: 0;
   font-family: "Lato",Helvetica,Arial,sans-serif;
}





.sportello-Button {
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #edf2ee;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-family:Arial; */
	font-size: 0.95em;
	font-weight:500;
	padding:9px 36px;
	text-decoration:none;
}
.sportello-Button:hover {
	background-color: #ffffff;
	color:#000000;
	text-decoration:none;
}
.sportello-Button:active {
	position:relative;
	top:1px;
	text-decoration:none;
}












/* =Team
-------------------------------------------------------------- */

#team {
  background-color: #f6f6f6;
}

.team {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ececec;
  overflow: hidden;
  margin-bottom: 15px;
}

.team:hover {
  cursor: default;
}

.team:hover .team-overlay {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.69);
}

.team-photo {
  position: relative;
}

.team-photo img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-bottom: 1px solid #ececec;
  margin-top: -260px;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
}

.team-overlay p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.team-inner {
  padding: 15px;
}

.team-inner h3 {
  text-align: center;
  margin-top: 0;
  text-transform: uppercase;
}

.team-inner p {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin: 0;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-list li {
  margin: 5px;
  display: inline-block;
}

.social-list li a {
  font-size: 21px;
  color: #fff;
}

.social-list li a:hover {
  color: #ccc;
}

.social-list li a:hover .social-icon {
  border-color: #ccc;
}

.social-icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: 2px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.social-icon .fa {
  line-height: inherit;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
}

/* =Numbers
-------------------------------------------------------------- */

#numbers {  
  color: #fff;
  overflow: hidden;
}

#numbers h4 {
  margin-bottom: 50px;
}

#numbers .fa {
  display: block;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}

#numbers .counter {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

#numbers .counter .value {
  display: block;
  font-size: 36px;
  color: #fff;
}

#numbers .counter small {
  text-transform: uppercase;
  color: #ccc;
}

/* =Services
-------------------------------------------------------------- */

.service-box {
  float: left;
  margin-bottom: 25px;
  margin-top: 25px;
}

.service {
  margin-top: 30px;
  padding: 45px 20px 20px 20px;
 /* border: 1px solid #ececec; */
  border: 1px solid #007FA3;
  border-radius: 4px;
  text-align: center;
  transition: .3s;
  position: relative;
  min-height: 500px;
}

.service:hover {
  cursor: default;
}

/* .service:hover > .fa-stack > .service-icon {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #333333;
} */

.service > h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.service > .fa-stack {
  position: absolute;
  left: 0;
  right: 0;
  top: -60px;
  margin: auto;
  border: 1px solid #ececec;
  background-color: #007FA3;
  border-radius: 50%;
  color:white;
}



.service > .fa-stack > .fa-circle {
  color: #007FA3;
  transition: .3s;
}






/* =Portfolio
-------------------------------------------------------------- */

#portfolio {
  background-color: #f6f6f6;
  padding-bottom: 0;
}

#isotope-options {
  background: none;
}

#filters {
  padding: 0;
  margin: 0 auto;
  float: none;
  list-style: none;
  text-align: center;
}

#filters li {
  display: inline-block;
}

#filters li a {
  display: inline-block;
  padding: 8px 12px;
  margin: 5px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  color: #999;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease;
  text-decoration: none;
}

#filters li a:hover, #filters li a.selected {
  color: #fff;
}

.view-portfolio #isotope-container {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.view-portfolio #isotope-container:before, .view-portfolio #isotope-container:after {
  content: " ";
  display: table;
}

.view-portfolio #isotope-container:after {
  clear: both;
}

.view-portfolio .isotope-element {
  width: 24.98%;
  float: left;  
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.isotope-element {
  margin: 0;
  height: auto;
}

.isotope-element img {
  height: auto;
}

.view-portfolio .isotope-element:hover .project-overlay {
  opacity: 1;
  right: 0;
}

.view-portfolio .isotope-element img {
  width: 100%;
}

.project-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  opacity: 0;
  transition: .3s ease;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
}

.project-overlay .fa {
  margin-bottom: 15px;
}

.project-overlay span {
  display: block;
  text-transform: uppercase;
}

.project-name {
  font-size: 23px;
}

#project-extended.open {
  padding-top: 70px;
  padding-bottom: 70px;
}

#project-extended.open #project-controls {
  display: block;
}

.border {
  width: 90px;
  background: #DEDEDE;
  height: 1px;
  margin: 5px 15px;
}

.project-category {
  text-align: center;
  margin: 20px 0;
}

.video-container .project-media {
  padding-bottom: 60%;
  margin-bottom: 30px;
}

.video-container .project-media iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

.project-media {
  position: relative;
}

.project-media img {
  display: block;
  margin: 0 auto;
}

.project-info h1 {
  text-align: center;
  text-transform: uppercase;
  color: #515151;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0;
}

.project-info span {
  display: inline-block;
  color: #999;
  text-transform: uppercase;
}

.project-info h4 {
  text-align: center;
  text-transform: uppercase;
}

.field-name-field-category {
  display: inline-block;
}

.field-name-field-category .field-item {
  display: inline-block;
}

.field-name-field-category .field-item:after {
  content: " /";
  margin-right: 5px;
}

.field-name-field-category .field-item:last-child:after {
  content: "";
}

.node-portfolio img {
  height: auto;
}

.node-portfolio .field-name-body {
  text-align: center;
}

#project-controls {
  padding: 0;
  display: none;
  list-style: none;
  text-align: center;
  margin-bottom: 50px;
}

#project-controls li {
  display: inline-block;
  margin: 10px;
}

#project-controls li a {
  display: block;
  color: #ccc;
  border: 2px solid #ccc;
  padding: 4px 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
}

.node-portfolio .owl-theme .owl-controls .owl-page span {
  width: 15px;
  height: 15px;
  margin: 0 6px;
}

.node-portfolio .owl-theme .owl-controls {
  margin-top: 20px;
}

/* =Pricing
-------------------------------------------------------------- */

.plan {
  background-color: #f6f6f6;
  border-radius: 4px;
  margin-top: 25px;
  transition: .3s;
  cursor: default;
}

.plan ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan ul li {
  padding: 10px 15px;
  color: #666;
  border-bottom: 1px solid #ececec;
  text-align: center;
  text-transform: uppercase;
}

.plan ul li:first-child {
  border-top: 1px solid #ececec;
}

.view-pricing .views-row-3 .plan {
  color: #fff;
}

.view-pricing .views-row-3 .plan .plan-heading p {
  color: #fff;
}

.view-pricing .views-row-3 .plan .circle-price {
  background-color: #fff;
}

.view-pricing .views-row-3 .plan ul li {
  color: #fff;
}

.view-pricing .views-row-3 .plan .btn {
  background-color: #fff;
  border-color: #fff;
}

.plan-heading {
  padding: 10px;
}

.plan-heading h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.plan-heading p {
  color: #999;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

.circle-price {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: transparent;
  line-height: 120px;
  border-radius: 50%;
  color: #FFF;
  margin-bottom: 20px;
}

.circle-price span {
  font-size: 28px;
}

.buy-now {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* =Testimonials
-------------------------------------------------------------- */

#testimonials {  
  color: #fff;
}

#testimonials h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 100;
}

#testimonials hr {
  width: 200px;
  border-top: 2px solid #fff;
}

.view-testimonial .flexslider {
  margin-top: 30px;
  position: relative;
  text-align: center;
  background: none;
  border: none;
}

.view-testimonial .flexslider .client-comment {
  font-size: 1em; 
  /* font-weight: 100;
  font-style: italic; */
  margin-bottom: 0;
  padding: 10px 0;
}

.view-testimonial .flexslider .client-name {
  color: #ccc;
}

.view-testimonial .flexslider img {
  
  width: 120px;
  
  margin: 0 auto;
}


#block-views-testimonial-block{
	background-color: #f3f3f3;
	
}

/* =Clients
-------------------------------------------------------------- */

#clients {
  padding: 0;
  background-color: transparent;
}

#clients-carousel {
  background-color: #d95c5c;
}

#clients-carousel .item {
  padding: 10px;
  margin: 10px;
  cursor: move;
}

#clients-carousel .item img {
  display: block;
  margin: 0 auto;
}

/* =Contact
-------------------------------------------------------------- */

#contact, #contact-form {
  position: relative;
  background-color: #f6f6f6;
}

#contact {
  padding-bottom: 0;
}

#contact-form {
  padding-bottom: 70px;
}

#map {
  position: relative;
  width: 100%;
  height: 500px;
}

.contact-form {
  text-align: right;
}

.contact-form input[type=text] {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.contact-form .form-control {
  background-color: #fff;
  border-color: #ececec;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.contact-form .form-control:hover {
  border-color: #dbdbdb;
}

.contact-form .form-control:focus {
  border-color: #66afe9;
}

.contact-form textarea.form-control {
  height: 165px;
  resize: none;
}

.contact-form .btn {
  margin-top: 15px;
  margin-right: 15px;
}

.contact-form .form-group.error, .contact-form .form-group.success {
  position: relative;
}

.contact-form .form-group.error:after, .contact-form .form-group.success:after {
  font-family: 'FontAwesome';
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 16px;
}

.contact-form .form-group.error:after {
  content: "\f00d";
  color: #d95c5c;
}

.contact-form .form-group.success:after {
  content: "\f00c";
  color: #00c077;
}

.contact-details {
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
}

.detail {
  padding: 15px 0;
  text-align: center;
  font-size: 22px;
  white-space: nowrap;
  color: #999;
}

.detail .fa {
  margin-right: 5px;
}

.form-sent {
  padding-left: 15px;
  padding-right: 15px;
  display: none;
  font-size: 16px;
  text-align: center;
}

/* =Footer
-------------------------------------------------------------- */

footer {
  /* padding-top: 0px;
  padding-bottom: 0px; */
  background-color: #002633;
}

footer .social-list a {
  color: #fff;
}

footer .social-list a .social-icon {
  border-color: #fff;
}

footer .social-list a:hover {
  color: #999;
}

footer .social-list a:hover .social-icon {
  border-color: #999;
}

/* =Flexslider
-------------------------------------------------------------- */

.flex-control-nav {
  position: relative;
  bottom: 0;
  margin-top: 20px;
}

.flex-control-paging li a {
  width: 15px;
  height: 15px;
  background-color: #ccc;
}

.flex-direction-nav a, .node-portfolio .owl-theme .owl-controls .owl-buttons div {
  background: #FFF;
  padding: 3px 12px;
  width: auto;
  height: auto;
  opacity: .5;
}

.flex-direction-nav a:before, .node-portfolio .owl-theme .owl-controls .owl-buttons div:before {
  font-family: 'FontAwesome';
  font-size: 24px;
}

.flex-direction-nav a:hover, .node-portfolio .owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}

.flex-direction-nav a.flex-next, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-next {
  border-radius: 3px 0 0 3px;
}

.flex-direction-nav a.flex-next:before, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-next:before {
  content: "\f105";
}
.node-portfolio .owl-theme .owl-controls .owl-buttons div {
  text-decoration: none;
  display: block;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  color: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.node-portfolio .owl-theme .owl-controls .owl-buttons div {
  font-size: 0;
}
.node-portfolio .owl-theme .owl-controls .owl-buttons div:before {
  font-size: 24px;
}
.flex-direction-nav a.flex-prev, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-prev {
  border-radius: 0 3px 3px 0;
}

.flex-direction-nav a.flex-prev:before, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-prev:before {
  content: "\f104";
}

.flex-direction-nav .flex-next, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 0;
}

.flex-direction-nav .flex-prev, .node-portfolio .owl-theme .owl-controls .owl-buttons div.owl-prev {
  left: 0;
}

/* Blog
---------------------------------------------*/
.blog-sidebar {
  overflow: hidden;
}
article.post {
  background-color: #f7f7f7;
  margin-bottom: 80px;
}
.post .post-thumbnail img {
  width: 100%;
  height: auto;
}
.post .post-content {
  padding: 40px;
}
.post .post-title {
  font-size: 1.5em;
  padding-bottom: 15px;
}
.post .entry-meta,
.post .entry-meta a {
  color: #b3b3b3;
}
.post .entry-meta a:hover {
  color: #d95c5c;
}
.post-content .featured-img img {
  max-width: inherit;
  width: 100%
}
.post-content .post-container {
  background-color: #f7f7f7;
  padding: 20px;
}
.post-content  .post-meta {
  font-size: 14px ;
  font-weight: 500;
  width: 100%;
  display: inline-block;
}
.post-content {
  padding-bottom: 60px;
}
.post-content  .post-meta .continue-reading a, .post-content  .post-meta .continue-reading a:hover {
  color: #d95c5c;
}
.post-content .post-title {
  color: #262626;
  font-size: 30px;
  font-weight: 800;
  line-height: 26px;
  margin-top: 0;
}
.post-content .post-title a {
  color: #262626;
}
.post-content .post-title a:hover {
  color: #d95c5c;
}
.post-content .entry-meta span{
  padding-left:20px; 
}
.post-content .entry-date ,
.post-content .comments-link a {
  color: #8c8c8c;
}
.post-content .comments-link a:hover{
  color: #d95c5c;
}
.post-content .continue-reading a {
  border-bottom: 1px dotted transparent;  
}
.post-content .continue-reading a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #d95c5c;
}
.node-type-blog .post-container {
  background-color: #f7f7f7;
  padding-bottom: 40px;
}
.node-type-blog article.post {
  margin-bottom: 0;
}
.type-post .entry-meta span {
  padding-left: 0;
  padding-right: 20px;
}
.type-post blockquote {
  border-left: 3px solid #d95c5c;
  font-style: italic;
  line-height: 30px;
  margin-left: 20px;
  padding: 5px 20px;
}
.node-type-blog .tag-links {
  display: inline-block;
}
.node-type-blog .field-name-field-tags {
  display: inline-block;
}
.field-name-field-tags .field-item {
  display: inline-block;
  margin-right: 5px;
}
.node-type-blog .post.type-post ul.links {
  padding: 0 40px;
}
.comment-content {
  color: #545454;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.field-name-comment-body {
  font-size: 14px;
}
.comments-area .indented {
  padding-left: 30px;
}
.page-comment-reply #block-system-main {
  list-style: none;
}
.page-comment-reply .comment-meta {
  float: left;
}
.comments-area {
  padding: 40px 40px 10px 40px;
}
.comments-area .comment-list {
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
}
.comments-area .comment-body {
  margin: 25px 0;
  display: inline-block;
  width: 100%;
}
.comments-area .comment-list,
.comments-area .children {
  list-style: none;
  padding-left: 0;
}
.comments-area .children {
  padding-left: 30px;
}
.comments-area .parent {
  position: relative;
  display: inline-block;
  width: 100%;
}
.comments-area .parent:before {
  position: absolute;
  content: "";
  top:25px;
  left: -40px;
  bottom: 40px;
  width: 2px;
  background-color: #d95c5c;
}
.comments-area .comment-meta {
  float: left;
  width: 100px;
  height: 100px;
}
.comments-area .avatar, .comments-area .user-picture img {
  border-radius: 100%;
}
.comment-metadata,
.comment-content {
  margin-left: 120px;
}
.comment-metadata {
  margin-bottom: 10px;
}
.comment-author {
  margin: 0;
  color: #262626;
  font-size: 18px;
}
.comment-author a {
  color: #262626;
}
.comment-metadata time {
  margin: 10px 0;
  display: inline-block;
}
.comment-metadata a time,
.comment-metadata time {
  font-size: 13px;
  color:#666666; 
}
.comment-author a:hover,
.comment-metadata a time:hover {
  color: #d95c5c;
}
.comment-metadata a time,
.comment-metadata time,
.comments-area .reply a,
.comments-area .reply a:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.comments-area .reply a, .page-comment-reply .reply a, .btn-primary {
  border:2px solid #d9d9d9;
  color: #d95c5c;
  font-size: 0.75em;
  line-height: 25px;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 15px 0 15px;
  position: relative;
  z-index: 0;
}
.btn-primary {
  background: none;
  padding: 3px 15px;
}
.comments-area .reply a:hover, .page-comment-reply .reply a:hover, .btn-primary:hover {
  color: #ffffff;
  border:2px solid #d95c5c;
}
.comments-area .reply a:after, .page-comment-reply .reply a:after, .btn-primary:after{
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  background-color: transparent;
  z-index: -1;
}
.comments-area .reply a:hover:after, .page-comment-reply .reply a:hover:after, .btn-primary:hover:after{
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #d95c5c;
}
.comments-area p{
  margin-bottom: 0px;
}
.comment-respond .comment-reply-title {
  margin: 60px 0;
}
.comment-respond .form-control,
.comment-respond .btn {
  border-width: 3px;
}
.widget ul {
  margin: 0;
  padding: 0;
}
.widget li {
  list-style: none;
  display: inline-block;
}
.region-sidebar-second h2.block-title, .region-sidebar-first h2.block-title {
  padding-bottom: 10px;
  margin-bottom: 14px;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  color: #292929;
  font-weight: 500;
}
.widget_recent_entries a {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.widget_recent_entries li {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}
.widget_recent_entries a {
  color: #545454;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.widget_recent_entries a:hover {
  color: #d95c5c;
}
.widget_recent_entries img {
  width: 70px;
  height: 70px;
  float: left;
}
.widget_recent_entries .fa{
  color: #cccccc;
}
.widget_recent_entries .recent-post-details {
  margin-left: 85px;
}
.widget_recent_entries .recent-post-details .post-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.widget_recent_entries time {
  padding-right: 15px;
}
.widget-tagcloud  a,
.widget-tagcloud  a:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.widget-tagcloud  a {
  display: inline-block;
  color: #8c8c8c;
  font-size: 14px;
  border:2px solid #e6e6e6;
  padding: 5px 15px;
  margin: 0 5px 7px 0;
  position: relative;
}
.widget-tagcloud  a:hover {
  border-color: #d95c5c;
  color: #ffffff;
}
.widget-tagcloud  a.active {
  background-color: #d95c5c;
  color: #ffffff;
  border-color: #d95c5c;
}
.widget-tagcloud  a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  z-index: -1;
}
.widget-tagcloud  a:hover:after {
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  background-color: #d95c5c;
}
/* -  Pagination
---------------------------------------------*/
.pagination {
  text-align: center;  
}
.pagination>li {
  display: inline-block;
}
.pagination>li:last-child>a, .pagination>li:last-child>span,
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-radius: 0; 
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  border: none;
}
.pagination>li>a, .pagination>li>span {
  border: none;
}
.pagination > li > a,
.pagination > li > a:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.pagination > li > a {
  background: #f2f2f2;
  color: #8c8c8c;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 700; 
  position: relative;
}
.pagination > li.active > a {
  background: #d95c5c;
  color: #ffffff;
}
.pagination > li.prev > a,
.pagination > li.next > a { 
  margin: 0;
}
.pagination > li > a:hover, .pagination > li.active > a:hover,
.pagination > li.active > a:focus {
  color: #ffffff;
  background: #d95c5c;
}

/* =Media queries
-------------------------------------------------------------- */

@media (min-width: 992px) {
  .hiding {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }

}

@media (max-width: 767px) {
  #team .col-xs-12 {
    width: 320px;
    margin: 0 auto;
    float: none;
  }

  .promo, .promo.right {
    text-align: center;
  }

  .promo .promo-icon-box, .promo.right .promo-icon-box {
    float: none;
  }

  #demo-switcher {
    display: none;
  }  

}

@media (max-width: 991px) {
  .view-portfolio .isotope-element {
    width: 49.98%;
  }

  .animated {
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .team-overlay p{
    font-size: 12px;
    margin-bottom: 0;
  }
  .team-overlay .social-list li a{
    font-size: 16px;
  }
  .team-overlay .social-icon{
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .team-inner h3{
    font-size: 18px;
  }
}

@media (max-width: 640px) {
  #home-slider .slides > li h1 {
    font-size: 36px;
  }

}

@media (max-width: 479px) {
  .view-portfolio .isotope-element {
    width: 100%;
  }

}

@media (max-width: 360px) {
  #team .col-xs-12 {
    width: 280px;
  }

  #home-slider .slides > li h1{
    font-size: 30px;
  }
}

